<!DOCTYPE html>
<html lang="ch">
    <head>
        <meta charset="utf-8">
        <title>Vue.js实现购物车功能 Demo</title>
        <link href="./styles/shopping_cart.css" rel="stylesheet">
    </head>
    <body>
        <div id="app" v-cloak>
            <template v-if="list.length">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>商品名称</th>
                            <th>商品单价</th>
                            <th>购买数量</th>
                            <th>选择</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in list">
                            <td>{{index+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>
                                <button
                                    @click="handleReduce(index)"
                                    :disabled="item.count === 1">-</button>
                                {{item.count}}
                                <button @click="handleAdd(index)">+</button>
                            </td>
                            <td>
                                <input type="checkbox" :checked="item.selected"
                                    @click="handleSelected(index)"
                                >
                            </td>
                            <td>
                                <button @click="handleRemove(index)">移除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>总价：￥ {{totalPrice}}</div>
                选择所有 <input type="checkbox" @click="selectAll()">
            </template>
            <div v-else>购物车为空</div>
        </div>
        <script src="./js/vue.min.js"></script>
        <script src="./js/shopping_cart.js"></script>
    </body>
</html>