.books-page {
    width: 100%;
    max-width: 935px;

    @media screen and (max-width: 750px) {
        padding: 0 4px;
        margin-bottom: 4px;
    }

    .books-list-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: sticky;
        top: 60px;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: var(--semi-color-bg-0);
        z-index: 999;

        @media screen and (max-width: 750px) {
            padding-top: 16px;
            padding-bottom: 16px;

            .books-filter {
                display: none;
                margin-bottom: 8px;
            }
        }
    }

    .book-list {
        width: 100%;
        display: grid;
        margin-bottom: 16px;
        grid-gap: 32px;
        grid-template-columns: 1fr 1fr 1fr;

        @media screen and (max-width: 750px) {
            grid-template-columns: 1fr;
            grid-gap: 4px;
        }
    }
}