.main {
    display: flex;
    justify-content: center;
    min-width: 1024px;
    min-height: calc(100vh - 140px);
    margin: 0 auto;
    background: var(--semi-color-bg-0);

    @media screen and (max-width: 750px) {
        width: 100%;
    }
}