.preview {
    width: 50vw;
    min-width: 600px;
    height: 80vh;
    min-height: 400px;

}

.semi-modal-content {
    border-radius: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.semi-modal-body-wrapper {
    margin-top: 16px;
    margin-bottom: 60px;
}