body{
    margin: 0;
    padding: 0;
    background-image: url(../images/bg_qing.jpg);
    background-repeat: repeat;
}
div{
    float: left;
    width: 16.666666666666666666666666666667%;
    height: 0;
    padding-bottom: 16.666666666666666666666666666667%;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    text-align: center;
    font-size: 16px;
    color: #FFF;
}
p{
    padding: 0 16px;
    }
p:first-of-type{
    padding: 0;
    margin-top: 20%;
    font-size: 2em;
}
/*红色*/
#red_1{background-color: #E70012;}
#red_2{background-color: #EC6C00;}
#red_3{background-color: #C24A2F;}
#red_4{background-color: #EF7B52;}
#red_5{background-color: #B21D30;}
#red_6{background-color: #864154;}
/*黄色*/
#yellow_1{background-color: #F5E84C;}
#yellow_2{background-color: #F9C14A;}
#yellow_3{background-color: #F39C35;}
#yellow_4{background-color: #D2AF1F;}
#yellow_5{background-color: #A58360;}
#yellow_6{background-color: #CF7D34;}
/*绿色*/
#green_1{background-color: #CBE4BA;}
#green_2{background-color: #9AC84B;}
#green_3{background-color: #33AC38;}
#green_4{background-color: #6BB880;}
#green_5{background-color: #6BC2AF;}
#green_6{background-color: #4F9571;}
/*蓝色*/
#blue_1{background-color: #A0D8EF;}
#blue_2{background-color: #9EACC6;}
#blue_3{background-color: #6CC5C9;}
#blue_4{background-color: #3AA7C4;}
#blue_5{background-color: #0055A8;}
#blue_6{background-color: #003255;}
/*紫色*/
#purple_1{background-color: #E0C5CE;}
#purple_2{background-color: #C1A1CA;}
#purple_3{background-color: #AAA1CE;}
#purple_4{background-color: #A195C7;}
#purple_5{background-color: #7D6DAE;}
#purple_6{background-color: #564064;}
/*黑色*/
#black_1{background-color: #0C101B;}
#black_2{background-color: #3A4944;}
#black_3{background-color: #4E606C;}
#black_4{background-color: #5C513D;}
#black_5{background-color: #17171F;}
#black_6{background-color: #100000;}
/*灰色*/
#gray_1{background-color: #CFD8DF;}
#gray_2{background-color: #A0A4A7;}
#gray_3{background-color: #748688;}
#gray_4{background-color: #8A8B8F;}
#gray_5{background-color: #72777B;}
#gray_6{background-color: #666465;}
/*白色*/
#white_1{background-color: #EFF8FD; color: #333;}
#white_2{background-color: #E3E6EB; color: #333;}
#white_3{background-color: #E8EFF5; color: #333;}
#white_4{background-color: #FFFFFF; color: #333;}
#white_5{background-color: #FFFBD6; color: #333;}
#white_6{background-color: #F1EBDD; color: #333;}
@media (max-width: 1175px){
    div p:nth-of-type(2){
        display: none;
    }
}
