/* 打印设置 */
@page{
    size: A4 portrait;
    margin: 0mm;
}

/* 基本样式 */
html, body{
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
    font-family: 'PingFang SC', 'Lantinghei SC', 'Microsoft YaHei', '微软雅黑', arial, '宋体', sans-serif;
    -webkit-print-color-adjust: exact;
}
h1{
    line-height: 60px;
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 24px;
    color: #A0A4A7;
}
h2::after{
    content: "";
    display: block;
    background: linear-gradient(to right, #A0A4A7, #A0A4A7);
    width: 100%;
    height: 1px;
}
h3{
    font-size: 20px;
}
ul li, p{
    font-size: 16px;
}
ul{
    padding-left: 0;
}
li{
    list-style-position: outside;
    list-style: none;
    background-image: url('../images/li_bg_10_gray.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 20px;
    margin-bottom: 10px;
}
div{
    margin: 0;
    padding: 0;
}
article{
    width: 595px;
    height: 841px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}
.main{
    padding:0 20px;
}
.header{
    height: 100px;
    background-color: #0c101b;
    background-image: url('../images/resume_bg.png');
    color: #fff;
}
.detail{
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: repeat(3, 33.333%);
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}
/* 底部网格布局 */
.footer{
    color: #FFF;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-items: center;
    height: 20px;
    background-color: #0c101b;
    background-image: url('../images/resume_bg.png');
    position: absolute;
    top: 821px;
    width: 100%;
}
.footer p{
    font-size: 12px;
}
.printme{
    text-align: center;
    margin-top: 10px;
}